<div class="form-group">
  <label for="name">{{name}}</label>
  <input type="text" name="character[name]" class="form-control" id="name" placeholder="Name">
</div>
<div class="form-group">
  <label for="race">{{race}}</label>
  <input type="text" name="character[race]" class="form-control" id="race" placeholder="Race">
</div>
<div class="form-group">
  <label for="gender">{{gender}}</label>
  <input type="text" name="character[gender]" class="form-control" id="gender" placeholder="Gender">
</div>
<div class="form-group">
  <label for="age">{{age}}</label>
  <input type="text" name="character[age]" class="form-control" id="age" placeholder="Age">
</div>
<div class="form-group">
  <label for="alignment">{{alignment}}</label>
  <input type="text" name="character[alignment]" class="form-control" id="alignment" placeholder="Alignment">
</div>
<div class="form-group">
  <label for="deity">{{deity}}</label>
  <input type="text" name="character[deity]" class="form-control" id="deity" placeholder="Deity">
</div>
